.login-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}

.logo{
 
  text-align: center;
}
.logo h1{
   font-size: 40px;
   color:var(--textPrimary);
   font-weight: 700;
   margin:10px 0px;
}

.login-form-wrapper{
  margin-top:30px;
  width: 30%;
}

.login-form-wrapper form{
  display: flex;
  flex-direction: column;
  row-gap:20px;
}

.login-btn{
  background:var(--primary);
  color:var(--white);
  border:0px;
  width:100px;
  border-radius: 8px;
  padding:5px 0px;
  font-size: 14px
}
