@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}
:root{
  --greyBg : #D9D9D9;
  --white:#fff;
}

/* sidebar */
.sidebar-wrapper{
  width: 230px;
  min-height: 100vh;
  border-right: 1px solid #B4B6C5;
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar{
  margin-left: 20px;
}

.dashboard-icon{
  display: flex;
  height: 30px;
  width: 185px;
  border: 1px solid #EBEEF2;
  background-color: #EBEEF2;
  border-radius: 45px;
  margin-top: 20px;
  margin-left: -5px;
}
.dashboard-icon a{
  text-decoration: none;
  color: #545D69;
  margin-top: -15px;
  margin-left: 15px;
  color: #01ACF1;
  font-size: 15px;
}
.nav-item-1 img{
  margin-left: 12px;
}

/* .nav-item__1.active,
.nav-item__1:hover{
  background-color: #EBEEF2;
  border-radius: 45px;
  color: #02ABF0;
} */

.upload-pass{
  display: flex;
  margin-top: 15px;
}

.upload-pass a{
  text-decoration: none;
  color: #545D69;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 15px;
}

.add-user{
  display: flex;
  margin-top: 10px;
}

.add-user a{
  text-decoration: none;
  color: #545D69;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 15px;
  /* display: flex; */
}

.view-applicant{
  display: flex;
  margin-top: 10px;
}

.view-applicant a{
  text-decoration: none;
  color: #545D69;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 15px;
}

.add-category{
  display: flex;
  margin-top: 10px;
}

.add-category a{
  text-decoration: none;
  color: #545D69;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 15px;
}

.login-history{
  display: flex;
  margin-top: 10px;
}

.line-wrap{
  margin-top: 100px;
  width: 228px;
  margin-left: -19px;
}

.login-history a{
  text-decoration: none;
  color: #545D69;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 15px;
}

.logout-wrapper{
  display: flex;
  margin-top: 10px;
}

.logout-wrapper a{
  text-decoration: none;
  color: #545D69;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 15px;
}


/* Dashboard */
/* heading style */
/* Styling for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin: -4px -131px;
}
.dropdown{
  margin-top: -91px;
  margin-left: -5px;
}

.dropdown .dropdown-icon{
  font-size: 26px;
  cursor: pointer;
  margin: 5px 5px;
  color: #01ACF1;
}

.dropdown-content .profile-link{
  border-bottom: 1px solid #01ACF1;
  background-color: #01ACF1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #ffff;
  font-weight: bold;
  font-size: 14px;
}

.dropdown-content .users-link{
  border-bottom: 1px solid #01ACF1;
  background-color: #D9D9D9;
  color: #555658;
  font-weight: bold;
  font-size: 14px;
}

.dropdown-content .logout-link{
  background-color: #D9D9D9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #555658;
  font-weight: bold;
  font-size: 14px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.heading-wrapper{
  border-bottom: 1px solid #B4B6C5;
  height: 50px;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 230px);
  margin-left: auto;
}
.container{
  width: 95%;
  display: flex;
  flex-direction: column;
  margin:0px auto;
}
.top-dropdown-menu{
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    right: 30px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);

}
.top-dropdown-menu ul li{
    padding:7px 10px;
}

.head-line{
  width: 50%;
}


.profile-wrap h1{
  margin-top: 10px;
  color: #555658;
  margin-left: 24px;
}
.user-info{
  margin-left: 49.6rem;
  display: flex;
  align-items: center;
  margin-top: -32px;
}

.user-image img{
  border-radius: 50%;
}

.user-info h1{
  display: flex;
 margin-right: 10px;
 margin-top: -38px;
 color:#555658;
}

.user-image{
 margin-top: -96px;
}

h1 p{
  color: #01ACF1;
margin-right: 10px;
margin-top: -1px;
}

.profile-menu{
  margin-right: 10px;
  border: none;
  outline: none;
  width: 20px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: -33px;
}


.inner-section{
  padding:20px 0px;
}
.form-group{
  display:flex;
  column-gap:20px;
  row-gap: 10px;
}
.form-group.column{
  flex-direction: column;

}
.form-group.row{
  flex-direction: row;
}

.form-group input{
  border:0px;
  background-color:var(--white);
  border-radius: 4px;
  width:calc(100% - 100px);
  outline: none;
  height:30px;
}
.form-group select{
  border: 0px;
  border-radius: 4px;
  outline:none;
  height:40px;
  width: 130%;
}
.select-white-bg{
  background-color: var(--white);
}
.select-grey-bg{
  background-color: var(--greyBg);
}

.application-wrapper{
  display: flex;
  justify-content: space-between;
}
.application-form-wrapper{
  width:70%;

}
.application-upload-wrapper{
  width:25%;
}

.application-select-option{
  display: flex;
  column-gap: 20px;
  margin-left: 24px;
  padding-top: 19px;
}

/* add continent */
.button-wrap .btn-add{
  border: 1px solid #01ACF1;
  border-radius: 4px;
  height: 30px;
  width: 130%;
  background-color: #01ACF1;
  color: #fff;
  cursor: pointer;
}

.button-wrap{
  padding-top: 25px;
  margin-left: -1px;
}

.error-message{
  color: red;
  font-size: 12.8px;
}


/* CSS for Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 27px;
}

/* Table Header */
.table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Table Body */
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Alternating Row Color */
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover Effect */
.table tr:hover {
  background-color: #f5f5f5;
}

/* Additional Styles */
.listing-continents {
  margin: 20px 0;
}

.create-link {
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}

.create-link a{
  text-decoration: none;
  border: 1px solid #01ACF1;
  background-color: #01ACF1;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
}

.table-wrap {
  overflow-x: auto;
  padding-top: 20px;
}

/* index edit and delete btn */
.action-buttons{
  display: flex;
  /* justify-content: space-between; */
}
.edit-btn a{
  text-decoration: none;
  border: 1px solid #01ACF1;
  border-radius: 5px;
  background-color: #01ACF1;
  color: #fff;
  padding: 5px 16px;
  font-size: 14px;
}
.edit-btn{
  margin-top: 3px;
}

.delete-btn button{
  background-color: #01ACF1;
  border-radius: 5px;
  border: 1px solid #01ACF1;
  color: #fff;
  padding:4px 10px ;
margin-left: 10px;
font-size: 14px;
cursor: pointer;
}

/* job position */
.gender-wrap{
  margin-left: 98px;
}
.radio{
  padding-top: 18px;
}

/* country */
.country-wrap{
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}

.country-wrap input{
  border: 0px;
  border-radius: 4px;
  outline: none;
  height: 40px;
  width: 130%;
  background-color: #D9D9D9;
  margin-top: 9px;
}


.btn-wrap .add-country{
  border: 1px solid #01ACF1;
  border-radius: 4px;
  height: 35px;
  width: 26.6%;
  background-color: #01ACF1;
  color: #fff;
  cursor: pointer;
}

.btn-wrap{
  padding-top: 25px;
  margin-left: 24px;
}

.btns-wrap .job-add{
  border: 1px solid #01ACF1;
  border-radius: 4px;
  height: 35px;
  width: 28.2%;
  background-color: #01ACF1;
  color: #fff;
  cursor: pointer;
}

.btns-wrap{
  padding-top: 25px;
  margin-left: 24px;
}


/* Add demand */
.form-container{
  padding-top: 30px;
  margin-top: 30px;
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
  height: 610px;
  width: 85%;
  margin-left: 26px;
  border-radius: 20px;
}
.form-inputs{
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

.form-input-1 input{
 margin-left: 90px;
height: 30px;
width: 40%;
padding: 4px;
border-radius: 10px;
border: none;
color: #B5ADAD;
outline: none;
}
.form-input-2{
  padding-top: 35px;
}

.form-input-2 input{
  margin-left: 6px;
 height: 30px;
 width: 80%;
 padding: 4px;
 border-radius: 10px;
 border: none;
 color: #B5ADAD;
 outline: none;
 }

 .form-input-3{
  padding-top: 35px;
}

.form-input-3 input{
  margin-left: 77px;
 height: 30px;
 width: 40%;
 padding: 4px;
 border-radius: 10px;
 border: none;
 color: #B5ADAD;
 outline: none;
 }

 .form-input-4{
  padding-top: 35px;
}

.form-input-4 input{
  margin-left: 44px;
 height: 30px;
 width: 80%;
 padding: 4px;
 border-radius: 10px;
 border: none;
 color: #B5ADAD;
 outline: none;
 }

 .form-input-5{
  padding-top: 35px;
}

.form-input-5 select{
  margin-left: 63px;
 height: 35px;
 width: 42%;
 padding: 4px;
 border-radius: 10px;
 border: none;
 color: #B5ADAD;
 outline: none;
 }

 .form-input-4 select{
  margin-left: 37px;
 height: 35px;
 width: 80%;
 padding: 4px;
 border-radius: 10px;
 border: none;
 color: #B5ADAD;
 outline: none;
 }

 .form-input-6{
  padding-top: 35px;
}

.form-input-6 textarea{
  margin-left: 135px;
 height: 44px;
 width: 80%;
 padding: 4px;
 border-radius: 10px;
 border: none;
 color: #B5ADAD;
 outline: none;
 margin-top: -33px;
 }

 .btn-demand button {
  text-decoration: none;
  border: 1px solid #01ACF1;
  border-radius: 5px;
  background-color: #01ACF1;
  color: #fff;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
}
.btn-demand{
  margin-top: 4px;
  padding-top: 22px;
  margin-left: 40.8rem;
}

label{
  color: #333;
  font-weight: bold;
}

.error-messages{
  color: red;
  font-size: 12.8px;
  margin-left: 145px;
}








