.main-section{
  display: flex;

}
.sidebar{
  height:100vh;
  width:230px;
  border-right:1px solid rgba(0,0,0,0.1);

}

.sidebar-wrapper{
  padding:0px 20px;
}

.sidebar-nav-wrapper{
  height:70vh;
  overflow-y: auto;
  margin-top:20px;
}
.sidebar-nav-wrapper nav ul li{
  margin-bottom:5px;
}
.sidebar-nav-wrapper nav ul li a{
  display: flex;
  column-gap: 10px;
  font-size: 14px;
  font-weight: 800;
  color:var(--textPrimary);
  align-items: center;
  padding:10px 10px;
}
.sidebar-nav-wrapper nav ul li a i{
  width:20px;
  font-size: 16px;
  color:var(--textPrimary);
}
.sidebar-nav-wrapper nav ul li a:hover{
  background:#f5f5f5;
  border-radius: 30px;
}
.sidebar-nav-wrapper nav ul li a:hover i,.sidebar-nav-wrapper nav ul li a:hover{
  color:var(--primary);
}

.main-content{
  width:calc(100% - 230px);
}
.header-wrapper{
  height:70px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.header-section-title h1{
  font-size: 34px;
  color:var(--textPrimary);
  font-weight: 700;
}

.header-profile-wrapper{
  display:flex;
  column-gap:20px;
  align-items: center;
}
.header-profile-wrapper h2{
  font-size: 20px;
  color:var(--textPrimary);
  font-weight: 600;
}

.header-profile-wrapper span:first-child{
  color:var(--primary);
}
.profile-wrapper{
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.profile-wrapper img{
  width:40px;
  height:40px;
  border-radius: 50%;
}
.profile-wrapper i{
  color:var(--primary);
  font-size: 14px;
}

.profile-dropdown{
  position: absolute;
  bottom:0px;
  right:20px;
  top:70px;
  display: none;
}
.profile-dropdown ul{
  background:#ddd;
  width:170px;
}
.profile-dropdown ul li a{
  padding:7px 10px;
  color:var(--textPrimary);
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.profile-dropdown ul li a:hover{
  background: var(--primary);
  color:var(--white);
}


.main-section-content{
  padding:20px 0px;
}


.upload-block{
  padding:25px 20px;
  border-radius: 20px;
}

.upload-passport-wrapper{
  width:30%;
}

.upload-password-form-wrapper{
  width:65%;

}
.upload-passport-input-items{
  padding-right:100px;
}
.upload-passport-img-wrapper{
  height:300px;
  margin-top:15px;
  padding:15px;
}

.button-wrap button{
  background-color: #01ACF1;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  color: #ffff;
  cursor: pointer;
}

.form-group .form-radio{
  height: 15.8px;
}

.btns-wrap{
  display: flex;
  justify-content: end;
  
}
.btns-wrap .demand-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01ACF1;
  border: none;
  border-radius: 4px;
  height: 30px;
  padding: 0 12px;
  color: #ffff;
  cursor: pointer;
}

/* table */
.table-wrap{
  padding-top: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th{
  padding: 16px 10px;
  border: none;
  background-color: #ffff;
  text-align: left;
  font-weight: bold;
}

.table td{
  padding: 8px;
  text-align: left;
  font-weight: bold;
  font-size: 13px;
}


.table tr:nth-child(even) {
  background-color:#f4f4f4;
}
/* Style for action buttons */
.action-buttons {
  display: flex;

}

.edit-btn a{
  padding: 8px 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #01ACF1;
  font-weight: 400;
}

.delete-btn button{
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #01ACF1;
  margin-left: 10px;
  font-size: 13px;
}


.create-link{
  display: flex;
  justify-content: end;
}

.create-link a{
  border-radius: 4px;
  background-color: #01ACF1;
  padding: 10px 10px;
  color: #ffff;
  margin-left: 10px;
}