@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.validation-error{
  color: red;
  margin-left: 112px;
  font-size: 13px;
}

.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
 .logo{
  margin-top: 115px;
  margin-left: 35px;
}

.logo img{
  margin-left: 76px;
}

.form-container{
  margin-top: 2rem;
}

.logo h1{
  color: #57585A;
  font-size: 28px;
}

.form-container label{
  color:#57585A ;
}

.name-input .form-input-1{
  margin-left: 10px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  height: 30px;
  width: 250px;
}

.pass-input .form-input-2{
  margin-left: 15px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  height: 30px;
  width: 250px;
  margin-top: 25px;
}

.btn-input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 28px;
  margin-left: 156px;
}

.btn-input .btn-submit{
  width: 100px;
  height: 30px;
  background-color: #02ABF0;
  border: 1px solid #02ABF0;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}

.btn-input a{
  color: #F0592A;
  margin-top: 10px;
}